<header class="header">
    <h1><a href="{{ index.html | prepend: site.baseurl }}">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <nav>
        <a href="{{ index.html | prepend: site.baseurl }}">
            <i class="fa fa-home"></i>
            Home
        </a>
        <a href=" about.html">
            <i class="fa fa-user"></i>
            About
        </a>
        <a href="{{ page.categories | prepend: site.baseurl }}">
            <i class="fa fa-folder-open"></i>
            Category
        </a>
    </nav>
</header>


